@mixin flex-items($type, $align, $justify) {
  align-items: $align;
  display: flex;
  flex-direction: $type;
  justify-content: $justify;
}

@mixin full-page-container {
  @include flex-items(column, center, flex-start);
  height: 100vh;
  width: 100vw;
}

@mixin standard-form {
  @include full-page-container;
  padding-top: 2rem;

  &-panel {
    @include flex-items(column, center, center);
    height: auto;
    padding-bottom: 5rem;
    width: 20rem;
  }

  & form {
    width: 100%;
    & fieldset {
      display: flex;
      flex-direction: column;
    }
  }

  &-img {
    margin: 1rem;
    width: 15rem;
  }
}
