@mixin flex-items($type, $align, $justify) {
  display: flex;
  flex-direction: $type;
  align-items: $align;
  justify-content: $justify;
}

@mixin message-background($color, $fill-color) {
  background-color: $fill-color;
  border: 1px solid $color;
  border-radius: 3px;
  padding: .5rem;
}

@mixin full-page-container {
  @include flex-items(column, center, flex-start);
  width: 100vw;
  height: 100vh;
}

@mixin standard-form {
  @include full-page-container;
  padding-top: 2rem;

  &-panel {
    @include flex-items(column, center, center);
    width: 20rem;
    height: auto;
    padding-bottom: 5rem;
  }

  & form {
    width: 100%;
    & fieldset {
      display: flex;
      flex-direction: column;
    }
  }

  &-img {
    width: 15rem;
    margin: 1rem;
  }
}
