.danger-background {
  background-color: #d23430;
}

.success-background {
  background-color: #93c54b;
}

.w-100 {
  width: 100%;
}

.toast-position {
  min-height: 7rem;
  min-width: 14rem;
  position: fixed !important;
  right: .5rem;
  top: .5rem;
}
