.danger-background {
  background-color: #d23430;
}

.info-background {
  background-color: #284a6c;
}

.success-background {
  background-color: #93c54b;
}

.faded-background {
  width: 100vw;
  height: 100vh;
  opacity: .4;
  background-color: black;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
}

.w-100 {
  width: 100%;
}

.toast-position {
  min-height: 7rem;
  min-width: 14rem;
  position: fixed !important;
  right: .5rem;
  top: .5rem;
}
