.danger-background {
  background-color: #f0d9d9;
}

.success-background {
  background-color: #f1f7e8;
}

.toast-position {
  min-height: 7rem;
  min-width: 14rem;
  position: fixed !important;
  right: .5rem;
  top: .5rem;
}
