<%- include('../../partials/head.ejs') %>
  <div class="error-page">
    <h1>Internal server error!</h1>
    <p>Something went wrong with the action performed.</p>
    <a class="text-center" href="/">Return to home page?</a>
  </div>
<%- include('../../partials/foot.ejs') %> 