<%- include('../../partials/head.ejs') %> 
<%- include('../../partials/nav.ejs') %> 
<div class="live">
  <h2 class="live-title">Manage live configuration</h2>
  <div class="live-panel">
    <a href="https://ttlf.net" target="_blank">Vist the live site</a>
  </div>
</div>
<%- include('../../partials/foot.ejs') %> 