.videos {
  @include full-page-container;
  padding-top: 2rem;
  &-title {
    margin: 0 0 2rem;
    text-align: center;
  }

  &-panel {
    padding-bottom: 2rem;
    &__header {
      @include table-content(600);
    }

    &__video {
      @include table-content(300);
    }
  }
}
