<div class="form-group">
  <label for="ttlfInputFirstName">First name</label>
  <input name="firstName" type="text" class="form-control" id="ttlfInputFirstName" placeholder="First name" value="<%= firstName %>">
</div>