<input type="hidden" name="_csrf" value="<%= csrfToken %>">
<button type="submit" class="btn btn-primary mb-2"><%= submitButtonText %></button>
<% if (sendMessage) { %> 
  <% if (sendMessage.error) { %>
    <%- include('../toast.ejs', {
      toastCss: 'danger',
      toastType: 'Error',
      toastMsg: sendMessage.error ,
    }) %>
  <% } else if (sendMessage.success) { %> 
    <%- include('../toast.ejs', {
      toastCss: 'success',
      toastType: 'Success',
      toastMsg: sendMessage.success ,
    }) %>
  <% } %>
<% } %>