<div class="form-group">
  <label for="ttlfInputPassword2">Repeat password</label>
  <input name="password2" type="password" class="form-control" id="ttlfInputPassword2" placeholder="Repeat password">
</div>