// Adding defaults for all components
// Also add the the after and before pseudo classes (since they are not 'real')
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  // It is good practice for all elements on the page to inherit this property
  // Since it is now by default it should be added here
  padding: 0;
}

// The root font size is always set in the html selector
html {
  // 10 is a commonly used value as it is easy to convert other values to rem
  // E.g. 30 px ==> 3rem
  // Setting this as a percentage is also a good technique as the user might alter default setting
  // So 62.5% would make it 10px if the default of 16px is still set in the browser
  font-size: 62.5%; // 10px/16px = 62.5%

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
  // @include respond(phone) { // Don't need if same as tab-port
  //   font-size: 50%; // 1rem = 8px, 8/16 = 50%
  // }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }

}

// To change text selection
::selection {
  background-color: $color-primary;
  color: $color-white;
}
