</body>
<script>
  $('.toast-close').click(() => $('.toast').remove());

  $('.modal-close').click(() => $('.modal').css({ display: 'none' }));

  function showModal() {
    $('.modal').css({ display: 'block' });
  };
  
  function submitForm(formClass) {
    $(`.${formClass}`).submit();
  };

  function deleteAdmin(email) {
    showModal();
    $('.delete-admin-email').attr('value', email);
  };
</script>
</html>