<div class="form-group">
  <label for="ttlfInputDatetime">Date and time</label>
  <input name="datetime" type="datetime-local" class="form-control" id="ttlfInputDatetime" value="<%= datetime %>">
</div>