<div class="form-group">
  <label for="ttlfInputFile">Upload new event flyer</label>
  <input name="image" type="file" class="form-control" id="ttlfInputFile" style="height: auto;"  accept="image/png, image/jpeg, image/img">
</div>