<div class="form-group">
  <label for="ttlfInputLastName">Last name</label>
  <input name="lastName" type="text" class="form-control" id="ttlfInputLastName" placeholder="Last name" value="<%= lastName %>">
</div>