<div class="form-group">
  <label for="ttlfInputNickname">Nickname (optional)</label>
  <input name="nickname" type="text" class="form-control" id="ttlfInputNickname" placeholder="Nickname" value="<%= nickname %>">
</div>