<div class="form-group">
  <label for="ttlfInputURL">URL (complete the last part)</label>
  <p class="font-weight-bold"><%= formAttributes.urlPrefix %></p><input name="url" type="text" class="form-control" id="ttlfInputURL" placeholder="URL" value="<%= url %>">
</div>