<%- include('../../partials/head.ejs') %> 
<%- include('../../partials/nav.ejs') %> 
<div class="live">
  <h2 class="live-title">Manage live configuration</h2>
  <div class="live-panel">
  </div>
</div>
<%- include('../../partials/foot.ejs') %> 