<%- include('../partials/head.ejs') %> 
  <h1>Page not found!</h1>
  <button type="button" class="btn btn-primary">Primary</button>
  <a href="/login">Click here to login</a>
<%- include('../partials/foot.ejs') %> 