<%- include('../partials/head.ejs') %>
<div class="reset-password">
  <div class="reset-password-panel">
    <img src="images/ttlf_0001.png" class="reset-password-img" />
    <form action="/reset-password" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="ttlfInputPassword1">New password</label>
          <input name="password1" type="password" class="form-control" id="ttlfInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="ttlfInputPassword2">Repeat new password</label>
          <input name="password2" type="password" class="form-control" id="ttlfInputPassword2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Reset Password</button>
        <a class="text-center mb-2" href="/login">Login?</a>
        <% if (passwordMatchError) { %> 
          <p class="text-center text-danger">Error: the new passwords don't match</p>
        <% } %>
      </fieldset>
    </form>
  </div>
</div>
<%- include('../partials/foot.ejs') %> 