<%- include('../partials/head.ejs') %>
<div class="send-reset">
  <div class="send-reset-panel">
    <img src="images/ttlf_0001.png" class="send-reset-img" />
    <form action="/send-reset" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="ttlfInputEmail">Email address</label>
          <input name="email" type="email" class="form-control" id="ttlfInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send Email</button>
        <a class="text-center mb-2" href="/login">Login?</a>
        <% if (emailError) { %> 
          <p class="text-center text-danger">Error: the email specified is not valid</p>
        <% } %>
      </fieldset>
    </form>
  </div>
</div>
<%- include('../partials/foot.ejs') %> 